<!-- Author:       hiennd
Create date:  07/08/2020
Test:        ??? -->

<launch>

  <!-- Define COMPort USB2COM -->
  <arg name="portSTM32" default="/dev/ttyUSB_MCU"/>
  <arg name="portLidar" default="/dev/ttyUSB_Lidar"/> 

  <param name="robot_description" textfile="$(find thesis_robot)/urdf/thesis_robot.xacro" />

  <!-- Neu ko dung` node ben duoi: No transform from [left_wheel] to [base_link] .... -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- Call Rosserial_python connect MCU -->
  <!-- <node pkg="rosserial_python" type="serial_node.py" name="rosserial_python" output="screen">
    <param name="port" type="string" value="$(arg portSTM32)"/>
    <param name="baud" value="256000"/>
  </node> -->

  <!-- Call Lidar RPLidar A3 -->
  <!-- <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="$(arg portLidar)"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>

  <param name="frame_id"            type="string" value="base_scan"/>   
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node> -->

  <!-- Debug with RVIZ ... -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thesis_robot)/rviz/thesis_robot_model.rviz" required="true" />

</launch>